body {
    position: relative;
}
/* LOGIN PASSWORD STYLE HTML SIDE */
.loginBody {
    background-image:url("../img/shelter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

::placeholder {
    padding-left: 0px;
    color: white;
    font-weight:100;
    opacity: 0.8;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    padding-top: 15px;
}

.userName {
    background: none;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 28px;
    text-align:center;
    letter-spacing: 1.5px;
    font-size: small;
    border: 1px solid white;
    width: 280px;
    padding: 8px;
    color: white;
    border-radius: 5px;
}
.userPassword{
    background: none;
    background-image: url("../img/lock.svg");
    background-repeat: no-repeat;
    background-position:left center;
    background-position-x: 28px;
    text-align:center;
    letter-spacing: 1.5px;
    font-size: small;
    border: 1px solid white;
    width: 280px;
    padding: 8px;
    color: white;
    border-radius: 5px;
}

.entranceBtn {
    border: none;
    width: 280px;
    padding: 8px;
    border-radius: 3px;
    color: green;
    font-weight: 700;
    letter-spacing: 1px;
}

.entranceBtn:hover {
    color: black;
    background-color: red;
}
.entranceBtn:active {
    background-color: yellowgreen;
    color: blue;
}

.loginPasswordAlert {
    color: red;
    font-size: small;
}

.loginCheckError {
    margin: 0;
    padding: 0;
}

.forgotPassword {
    font-weight: 100;
    font-size: medium;
    color: white;
}
.passwordText {
    font-size: medium;
    text-decoration: none;
    color: red;
}

.passwordText:hover {
    color: aliceblue;
}



/*Bookshelter part (Profile Part) HTML SIDE*/

/*SITE-HEADER PART*/
.siteHeader__topHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.siteHeader__resultBooksWrapper {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.siteHeader__resultBooks {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.siteHeader__orderButton {
    display: flex;
    align-items: center;
}
.inputWrapper {
    width: 670px;
}

.searchInput {
    border: none;
    background-color:aliceblue;
}

/*SITE-MAIN*/

/*SITE-RIGHT-PART*/

.siteMain__rightPart {
    background-color: aliceblue;
}


/*LOGIN JS PART  (JAVA SCRIPT SIDE)*/



/*card body style*/
.card {
    display: flex;
    align-items: center;
}

.cardImage {
    background-color:rgb(248, 248, 255);
    padding: 20px;
    width: 201px;
    height: 202px;
}
.booksTitle {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.booksAuthor {
    margin: 0;
    padding: 0;
    color:grey;
    font-size: small;
    margin-top: 10px;
}
.booksYear {
    margin: 0;
    padding: 0;
    color:grey;
    font-size: small;
}


/*card button style*/

.buttonWrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.bookmarkBtn {
    margin-right: 12px;
    font-size: small;
    font-weight: 700;
}

.moreInfoLink {
    margin-left: 12px;
    font-size: small;
    font-weight: 700;
    color:rgb(82, 82, 230);
}

.readLink {
    font-size: small;
}



/*OVERLAY STYLE*/
.hidden{
    display: none;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 5;
}